*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}
.font_bold{
    font-weight: bold !important;
}
.small_font{
    font-size: 12px;
}
.red_font{
    color: #F23E00 !important;
}
/*设置网页内容区域宽度*/
.container{
    width: 1200px;
    margin: 0 auto;
}
.container_small{
    width: 1000px;
    margin: 10px auto;
}
/*清除浮动*/
.clearfix:before, .clearfix:after{
    content:"";
    display: block;
    clear: both;
}
/*初始化a元素的字体颜色*/
a{
    color: #000;
    text-decoration: none;
}
/*引入头部页面*/
.header{
    width: 100%;
}
/*引入尾部页面*/
.footer{
    width: 100%;
    height: 90px;
}
.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
}
/*引入最右侧黑色导航页面*/
.black_nav_bar{
    position: absolute;
    top: 0;
    right: 0;
}

/*分页*/
.pagination ul{
    float: right;
}
.pagination li{
    float: left;
}
.pagination a{
    display: block;
    padding: 5px 14px;
    border: 1px solid #DDD;
    margin-left: 9px;
}
.pagination a.active{
    color: #fff;
    background: #0E90D2;
    border-color: transparent;
}


