/*顶部logo图片*/
.top{
    background: #F5F5F5;
}
.top>div, .main>div{
    width: 1000px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.top img{
    width: 140px;
    /*border: 1px solid blue;*/
    vertical-align: middle;
}
/*中间粉色背景部分*/
.main{
    background: #FD7A72;
}
.main a:hover:not(.blackA){
    color: #237096;
}
.main img{
    margin-bottom: 55px;
}
.main>div, .cb{
    position: relative;
}
.main>div>div{
    position: absolute;
    top: 20px;
    right: 0;
    background: #F8F8F8;
}
form>p,form>div{
    /* border: 1px solid red; */
    margin: 18px 20px;
}
form>div.post-title{
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    /* border: 1px solid red; */
}
form>div.post-body{
    background: #fff;
    margin-top: 0;
    /* border: 1px solid red; */
}
form>div:last-child{
    margin-bottom: 110px;
}
form>div.post-title>p.normal{
    text-align: center;
    z-index: 10;
    border: 1px solid #F8F8F8;
    background: #F8F8F8;
}
form>div.post-title>p.err{
    border: 1px solid #f40;
    background: #F8F8F8 url(../img/err.png) no-repeat 5px center;
    padding: 0 25px;
    text-align: left;
    z-index: 9;
    color: #666;
}
.normal, .err{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
form p>span{
    font-size: 16px;
    font-weight: bold;
}
.normal>a{
    line-height: 1;
    padding: 6px;
    background: #E6E6E6;
    top: 7px;
}
.normal>a, .cb>a{
    position: absolute;
    right: 0;
}
input[type='text'], input[type='password']{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid transparent;
    background: #fff;
    padding: 14px 0 14px 45px;
    color: #757575;
    border-radius: 5px;
}
.inUser{
    margin-top: 4px;
    margin-bottom: 1px;
}
.inPwd{
    margin-top: 0;
}
input[type='text']:focus, input[type='password']:focus{
    border: 1px solid #A5C6FE;
}
form>p:first-child>a:hover{
    background: #D4D4D4;
}
input[type='button']{
    width: 324px;
    background: #0E90D2;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 8px;
}
input[type='submit']:focus{
    background: #0C75AC;
}
input[type='submit']:hover{
    background: #0C79B1 ;
  }
form>div>p:last-child{
    text-align: center;
}
form>div>p:last-child>a{
    display: inline-block;
    padding: 8px 5px 8px 40px;
    /*border: 1px solid red;*/
}

