/*确认收货地址*/
#addr>p>a{
    padding: 6px 15px;
    background: #D8504D;
    color: #fff;
}
#addr>div{
    width: 252px;
    height: 151px;
    box-sizing: border-box;
    padding: 10px;
    margin: 25px 12px 12px 0;
}
#addr>div.active{
    background: url("../img/peraddressbg.png") no-repeat;
}
#addr>div{
    background: url("../img/peraddbg.png") no-repeat;
}
.gray{
    background: #D3D3D3;
    color: #fff;
    font-weight: normal;
    padding: 0 2px;
    margin-left: 54px;
}
#addr ul>li,#addr>div{
    float: left;
}
#addr ul{
    margin-top: 35px;
    float: right;
}
#addr ul>li{
    padding: 0 4px;
}
/*选择物流方式*/
.way>p{
    margin-bottom: 12px;
}
.way>div{
    border-top: 2px solid #EDEDED;
    padding: 1px 0;
}
.way li{
    float: left;
    width: 18%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-right: 20px;
}
.way li{
    border: 1px solid transparent;
}
.way li.active{
    border: 1px solid #B70305;
    background: url("../img/sys_item_selected.gif") no-repeat right bottom;
}
.way a{
    display: block;
}
#delivery a{
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding-left: 45px;
    background: url("../img/kuaidi.png") no-repeat;
}
#delivery a.one{
    background-position: 0 -468px;
}
#delivery a.two{
    background-position: 0 -1008px;
}
#delivery a.three{
    background-position: 0 -576px;
}
#delivery a.four{
    background-position: 0 -324px;
}
#delivery a.five{
    background-position: 0 -180px;
}
/*选择支付方式*/
#pay a{
    width: 54px;
    height: 36px;
    line-height: 36px;
    padding-left: 54px;
}
#pay li{
    border: 1px solid transparent;
}
#pay li.active{
    border: 1px solid #B70305;
    background: url("../img/sys_item_selected.gif") no-repeat right bottom;
}
#pay a.pay1{
    background: url("../img/wangyin.jpg") no-repeat;
    background-size: contain;
}
#pay a.pay2{
    background: url("../img/weizhifu.jpg") no-repeat;
    background-size: contain;
}
#pay a.pay3{
    background: url("../img/zhifubao.jpg") no-repeat;
    background-size: contain;
}
/*确认订单信息*/
#order_info{
    padding: 10px 0;
}
#order_info>div{
    border: 1px solid #E5E5E5;
}
#order_info li{
    float: left;
    text-align: center;
    padding: 18px 0;
}
#order_info li:first-child{
    width: 50%;
}
#order_info li:nth-child(2),#order_info li:nth-child(4),#order_info li:nth-child(5){
    width: 10%;
}
#order_info li:nth-child(3){
    width: 20%;
}
#order_info .info_body+div{
    border-top: 1px solid #E5E5E5;
}
.info_title{
    background: #EAEAEA;
    border-top: 1px solid #E5E5E5;
}
/*确认订单信息：商品信息*/
.info_item{
    text-align: left !important;
    padding-left: 10px !important;
    box-sizing: border-box;
}
.info_item img, .info_item>div{
    float: left;
}
.info_item img{
    border: 1px solid #E5E5E5;
}
.info_item>div{
    padding-left: 10px;
}
.info_item>div p{
    color: #989898;
    padding: 15px 0;
}
/*确认订单信息：单价*/
.info_price{
    font-size: 12px;
}
/*确认订单信息：数量*/
.info_num button{
    background: #D3D3D3;
    border: none;
    line-height: 1;
    padding: 8px;
    cursor: pointer;
}
.info_num input{
    width: 25px;
}
/*买家留言*/
#buyer_notes{
    padding: 20px 10px;
}
#buyer_notes>div{
    float: left;
}
#buyer_notes>div:first-child{
    width: 75%;
}
#buyer_notes>div:nth-child(2){
    width: 25%;
    text-align: right;
}
#buyer_notes>div:nth-child(2)>div+div{
    margin-top: 15px;
}
#buyer_notes input{
    font-size: 12px;
    padding: 2px 8px;
    border: 1px solid #E5E5E5;
    width: 450px;
}
#buyer_notes input,#buyer_notes select,.info_num button{
    outline: none;
}
/*合计及以下*/
#total{
    float: right;
    text-align: right;
}
#total .big_font{
    font-size: 24px;
}
#total>div{
    padding: 12px 10px;
    margin: 20px 0 10px 0;
    border: 2px solid #F23E00;
}
#total button{
    padding: 6px 28px;
    background: #F23E00;
    color: #fff;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}


