/*主体顶部：样式*/
#top{
    border-bottom: 2px solid #D2364C;
}
#top>ul:first-child{
    float: left;
}
#top ul li{
    float: left;
}
#top>ul:first-child>li{
    color: #FF5400;
    padding: 12px 10px;
}
#top>ul:first-child>li:first-child, #top div.clearfix>ul:first-child>li>a{
    font-weight: bold;
    font-size: 16px;
}
/*主体头部：全部分类*/
#top>ul:first-child>li:first-child{
    background: #d2364c;
    padding: 12px 58px;
    color: #fff;
    font-weight: normal;
}
#top>div{
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 6;
}
#top>div>div:first-child{
    width: 47px;
    height: 47px;
    position: absolute;
    right: 149px;
    top: -2px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -6px;
    border-radius: 50%;
    z-index: 8;
}
/*主体头部：我的福利左侧人头图*/
#top>div>div:first-child>a{
    display: block;
    background: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
/*主体头部：我的福利*/
#top>div>div:last-child>a{
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 7;
    width: 150px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: url("../img/extra.png");
    font-size: 16px;
    color: #fcff00;
}
/*以上从index.css copy过来*/

/*a标记悬浮变色*/
.navy:hover{
    color: #237096;
}
/*头部面包屑导航*/
#top_nav{
    display: inline-block;
    padding: 20px 0;
    vertical-align: bottom;
}
#top_nav>ul>li{
    float: left;
    padding-right: 12px;
}
#top_nav>ul>li:nth-child(2n){
    color: #CCD6E3;
}
#top_nav>ul>li:nth-child(2n),#top_nav>ul>li:last-child{
    color: #999;
}
/*头部左侧图+右侧标题价格*/
#top_nav+div>div{
    float: left;
}
/*头部左侧图*/
#top_left{
    position: relative;
    height: 482px;
}
#md_div{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid #C9C9C9;
}
#lg_div{
    width: 400px;
    height: 400px;
    background: url("../img/01.jpg") no-repeat;
    border: 1px solid #C9C9C9;
    position: absolute;
    top: 0;
    left: 410px;
    z-index: 100;
    display: none;
}
#md_div,#lg_div,#sm_div>div,#sm_div li{
    float: left;
}
#md_div>img{
    width: 100%;
}
#mask{
    width: 200px;
    height: 200px;
    background: url("../img/mask.png");
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}
#super_mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: transparent;
    z-index: 101;
}
#sm_div{
    position: absolute;
    bottom: 0;
    left: 0;
}
#sm_div li img{
    vertical-align: bottom;
    margin: 10px 5px;
}
#arrowL, #arrowR{
    width: 22px;
    height: 32px;
    background: url("../img/__sprite.png") 0 -54px;
    margin-top: 24px;
}
#arrowL.disabled{background: url("../img/disabled-prev.png")}
#arrowR.disabled{background: url("../img/disabled-next.png")}
#arrowL{
    margin-right: 3px;
}
#arrowR{
    margin-left: 3px;
    background-position: -78px 0;
}
#sm_div>div:nth-child(2){
    width: 350px;
    height: 80px;
    position: relative;
    overflow: hidden;
 }
#sm_div ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
}
/*头部右侧标题价格*/
#top_right{
    padding: 5px 0 0 25px;
}
#top_right h3{
    font-size: 18px;
}
#top_right h3+div{
    padding: 10px;
    background: #F7F7F7;
    margin-top: 10px;
}
#top_right h3+div>p:nth-child(2){
    line-height: 2;
}
#top_right p{
    margin-bottom: 15px;
}
.light_gray{
    color: #888;
}
.line_through{
    text-decoration: line-through;
    padding-left: 30px;
}
#top_right>h3+div{
    position: relative;
    height: 100px;
    width: 710px;
    margin-bottom: 8px;
}
/*满3件7折前后间距*/
.space{
    padding: 0 400px 0 8px;
}
/*?符号*/
.money{
    font-weight: normal !important;
    padding-left: 20px;
}
/*浅大红字*/
.light_red{
    color: #E4393C;
}
/*深大红字*/
.dark_red{
    color: #CC0000;
}
.bold_font{
    font-weight: bold;
}
/*向上移动字*/
.top_font{
    line-height: 1.2;
    vertical-align: top;
}
/*价格数字*/
.price{
    font-size: 22px;
    position: absolute;
    top: -8px;
    left: 74px;
}
/*促销价格div--默认显示*/
#onsale_price{
    background: #F7F7F7;
    width: 400px;
    position: absolute;
    top: 35px;
    left: 8px;
    z-index: 2;
}
/*优惠券*/
#cheque span:first-child{
    margin-right: 15px;
}
#cheque span+span{
    display: inline-block;
    padding: 12px 10px;
    color: #fff;
    background: url("../img/couponli.png");
    margin-left: 5px;
}
/*优惠券--默认隐藏*/
#cheque{
    background: #F7F7F7;
    position: absolute;
    top: 35px;
    left: 8px;
    z-index: 1;
    padding-bottom: 40px;
}
/*配送至*/
#send_to select{
    padding: 5px 8px;
}
#send_to>span:first-child{
    padding-right: 8px;
}
#send_to>span:last-child{
    padding-left: 15px;
}
/*销量*/
#sold{
    width: 726px;
    border-top: 1px dotted #C9C9C9;
    border-bottom: 1px dotted #C9C9C9;
    padding: 8px 0;
    margin: 10px 0 15px;
}
#sold>a{
    display: inline-block;
    padding: 0 77px;
    line-height: 1;
    border-right: 1px solid #E5DFDA;
}
#sold>a>span{
    font-size: 12px;
}
#sold a:last-child{border-right: none;}
/*口味、包装、数量*/
#taste>div,#pack>div,#num>div{
    color: #ABACAB;
    font-size: 12px;
}
#taste>div,#pack>div,#num>div{
    float: left;
    margin: 12px 20px 0 0;
}
#taste li,#pack li{
    float: left;
    border: 2px solid #EDEDED;
    margin: 5px;
    padding: 4px;
}
#taste li.active,#pack li.active{
    border: 2px solid #B70305;
    background: url("../img/sys_item_selected.gif") no-repeat right bottom;
}
#num{
    margin-top: 5px;
}
#num>span{
    display: inline-block;
}
#num>span:not(:last-child){
    cursor: pointer;
    background: #E0E0E0;
    padding: 2px 8px;
    margin-top: 3px;
}
#num>input{
    width: 26px;
    outline: none;
}
#num+div{
    padding: 25px 55px;
}
.btn{
    outline: none;
    padding: 5px 0;
    width: 98px;
    border: 1px solid #F03726;
}
.btn_peach{
    background: #FFE8E8;
    color: #F03726;
    margin-right: 6px;
}
.btn_red{
    background: #F03726;
    color: #fff;
}
/*优惠套餐*/
#cheap_set h3{
    font-size: 16px;
    padding: 20px 0 10px;
}
#cheap_set h3+div{
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 18px;
}
#cheap_set li{
    float: left;
}
#cheap_set li:nth-child(2), #cheap_set li:nth-child(4){
    margin-top: 70px;
    padding: 0 5px;
    color: #BFBFBF;
}
#cheap_set li:last-child>div{
    padding-top: 15px;
}
#cheap_set li:last-child>div>p{
    padding-top: 5px;
}
#cheap_set li:last-child>div>button{
    margin-top: 15px;
    cursor: pointer;
}
#cheap_set li>div{
    text-align: center;
}
#cheap_set li img{
    width: 150px;
}
#cheap_set .cross_gray{
    text-decoration: line-through;
    color: #959595;
    font-size: 12px;
    padding-left: 5px;
}
.small_font{
    font-size: 12px;
}
/*宝贝详情*/
/*宝贝详情左侧*/
#details{
    margin-top: 20px;
}
#details_left{
    float: left;
    box-sizing: border-box;
    width: 18%;
    border: 1px solid #CBCBCB;
    /*margin-right: 30px;*/
}
#details_left li{
    float: left;
    width: 100%;
}
#details_left li:first-child>div{
    padding: 2px 0;
}
#details_left li:not(:first-child)>div{
    width: 90%;
    padding: 12px 0 15px 0;
    border-bottom: 1px dotted #D6D6D6;
    margin: 0 auto;
}
#details_left li:last-child>div{
    border: none;
}
#details_left li>div{
    text-align: center;
}
#details_left li>div>img{
    width: 100%;
}
#details_left li:first-child>div{
    background: #F0F0F0;
}
/*宝贝详情右侧*/
#details_right{
    float: left;
    width: 82%;
    box-sizing: border-box;
    padding-left: 30px;
}
/*标题*/
#details_title{
    background: #EDEDED;
}
#details_title.fixed{
    position: fixed;
    top: 0;
    width: 954px;
    z-index: 101;
}
#details_title a{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 5px 80px 10px;
    border-top: 2px solid transparent;
}
#details_title a:hover{
    opacity: .8;
}
#details_title a.active{
    border-top-color: #E4393C;
    color: #E4393C;
}
#details_title li, #intro li, #comments>div:not(:nth-child(3)) li, #comments>div:nth-child(3) li>div{
    float: left;
}
#details_content{
    position: relative;
    overflow: hidden;
    background: #fff;
    z-index: 100;
}
#intro.show,#comments.show,#prefer.show{
    position: relative;
    z-index: 100;
    opacity: 1;
    transform: translateX(0);
    transition: all linear .3s;
}
#intro,#comments,#prefer{
    width: 954px;
    top: 0;
    box-sizing: border-box;
}
#intro.hide,#comments.hideL{
    transform: translateX(-100%);
}
#comments.hideR,#prefer.hide{
    transform: translateX(100%);
}
#intro.hide,#comments.hideL,#comments.hideR,#prefer.hide{
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 99;
    opacity: 0;
}
/*宝贝详情*/
#intro,#comments{
    padding: 0 10px;
}
#intro ul{
    padding: 0 15px;
}
#intro li{
    width: 33%;
    color: #666;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#intro p{
    padding: 35px 0;
}
#intro img{
    width: 100%;
    vertical-align: bottom;
}
/*全部评价*/
#detail,#comments,#prefer{
    background: #fff;
}
#comments>div>div{
    float: left;
}
#comments>div>div:first-child{
    width: 10%;
    text-align: center;
}
#comments>div>div:last-child{
    width: 90%;
    box-sizing: border-box;
    padding-left: 25px;
}
#comments>div:first-child{
    padding: 25px 0;
}
#comments>div>div:first-child>p:first-child{
    font-size: 42px;
}
#comments>div>div:nth-child(2)>p{
    font-size: 16px;
}
#comments>div>div:nth-child(2) li{
    background: #F47602;
    color: #fff;
    margin: 5px 5px 5px 0;
    padding: 1px 0;
}
#comments>div:nth-child(2){
    background: #FAFAFA;
    border: 1px solid #F2F2F2;
}
#comments>div:nth-child(2) li{
    padding: 1px 10px;
}
#comments>div:nth-child(3){
    padding: 20px 0;
}
#comments>div:nth-child(3) li+li{
    margin-top: 22px;
}
#comments>div:nth-child(3) li>div:first-child{
    width: 7%;
}
#comments>div:nth-child(3) li>div:last-child{
    width: 93%;
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
}
#comments>div:nth-child(3) img{
    width: 50px;
    border-radius: 50%;
}
#comments .com_title{
    width: 100%;
    box-sizing: border-box;
    background: #F8F8F8;
    border-bottom: 1px solid #eee;
    padding: 8px 15px;
}
#comments .com_title a{
    color: #939393;
}
#comments .com_body{
    padding: 15px;
}
/*警告信息*/
.alert{
    background: #FFFFEE;
    text-align: center;
    padding: 5px;
    border: 1px solid #FFCC77;
    margin: 30px 0;
}
.alert>p{
    font-size: 16px;
}
/*猜你喜欢*/
#prefer{
    padding-top: 35px;
}
#prefer>ul>li{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}
#prefer li img{
    width: 100%;
    vertical-align: bottom;
}
#prefer li p{
    width: 95%;
    line-height: 1.5;
}
#prefer .pagination{
    padding: 30px 0 40px;
}









